@use 'components/shared/styles/constants' as *;
@use 'components/shared/styles/devices' as *;

#scratch_div {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;

    @include mobile-or-tablet-screen {
        width: 100%;
    }
}

.blocklyText.blocklyTextRootBlockHeader {
    font-size: calc(var(--text-size-sm) * 0.9);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    fill: $color-white;
}

.blocklyMainWorkspaceScrollbar {
    display: none;
}

.injectionDiv {
    height: 100%;
    position: relative;
    z-index: 0;
    touch-action: none;
    overflow: hidden;
}
