@use 'components/shared/styles/themes' as *;

body {
    // Updated to use brand font variable from brand.config.json
    font-family: var(--brand-font-primary);
    background: var(--tc-sky);
    background-attachment: fixed;
}

.icon-general-fill-path {
    path {
        fill: var(--text-general);
    }
}

.icon-general-fill-g-path {
    g {
        path {
            fill: var(--text-general);
        }
    }
}
